<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Podcasts for Moderation LLC">
    <meta name="author" content="Arda Sahiner and Tej Joshi">

    <title>Moderation Mondays</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script> -->

    <!-- Custom CSS -->
    <link href="css/ardastyle.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Important Links -->
    <link href="http://adsabs.harvard.edu/abs/2015APS..DMP.P5010F">
    <link href="http://ardasahiner.me">
    <link href="http://vstock.io">
</head>

<body class = "container" ng-app="moderationMondays" ng-controller="mainController as main">
  <h1 id = "tracktime">{{main.timeRemainingList[0]}} </h1>
  <!-- <p class="player">
    <span id="playtoggle" />
    <span id="gutter">
        <span id="loading" />
        <span id="handle" class="ui-slider-handle" />
    </span>
    <span id="timeleft" />
  </p> -->
  <audio id ="myAudio" ontimeupdate = "document.getElementById('tracktime').innerHTML = Math.floor((this.duration - this.currentTime) * 10) / 10;">
    <source src="./mp3_files/mptest.mp3" type="audio/mpeg">
    Your user agent does not support the HTML5 Audio element.
  </audio>
  <!-- <button type="button" onclick="aud_play_pause()">Play/Pause</button> -->
  <span id="play">
    <a><i class="fa fa-play playButton" aria-hidden="true" ng-click="main.aud_play(0)" ng-if= "main.pausedList[0]"></i></a>
    <a><i class="fa fa-pause pauseButton" aria-hidden="true" ng-click="main.aud_pause(0)" ng-if= "main.playingList[0]"></i></a>
  </span>
  <!-- <span id="gutter">
      <span id="loading" />
      <span id="handle" class="ui-slider-handle" />
  </span> -->
  <!-- <span id="timeleft" /> -->

<!--
  <audio controls>
    <source src="./mp3_files/mptest.mp3" type="audio/mpeg">
    Your user agent does not support the HTML5 Audio element.
  </audio> -->
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>


  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ardajs.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Angular script -->
  <script src="app.js"></script>
  <!-- <script src="app.routes.js"></script> -->
  <!-- Import all controllers too -->
  <script src="controllers/mainController.js"></script>

  <!-- Custom Theme JavaScript -->
  <!-- <script src="js/grayscale.js"></script> -->
</body>
</html>
